openapi: 3.0.1
info:
  title: ICON Report API
  description: |
    The Report API is a service provided by ICON, Coface Business Information offer. It allows allows you to programmatically place orders for Business reports on companies, Debtor Risk Assessments, Credit Opinions.
    You also can monitor and retrieve monitoring notifications on companies.

    A functional documentation is available [here](https://htmlpreview.github.io/?https://github.com/coface/business-information-api/blob/master/report-api/documentation/documentation.html)
  version: 1.0.0
servers:
  - url: http://cce-clone.icon.ua.coface.dns:80/web/api/bi/v1
  - url: https://b2b.cofacecentraleurope.com/api/bi/v1
    description: Production
  - url: https://cce-test.icon.ua.coface.com/web/api/bi/v1
    description: Test
tags:
  - name: Countries
    description: Lists of covered countries and associated identifiers.
  - name: Company Identification
    description: Identify the company you wish to order.
  - name: Order
    description: Place an order for a product (e.g. credit report).
  - name: Notifications
    description: Download notifications of monitored companies
  - name: Misc
    description: Miscellaneous methods
security:
  - Token: []
  - ApiKey: []
components:
  securitySchemes:
    Token:
      type: apiKey
      in: header
      description: Token retrieved by the Coface authentification endpoint
      name: authorization
    ApiKey:
      type: apiKey
      in: header
      description: Api key generated by the front office
      name: api_key
  responses:
    400-BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            message: You exceeded your rate-limit of 60 requests / minute
    401-Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    403-Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            message: invalid or missing api_key
    404-NotFound:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 404
            message: HTTP 404 Not Found
    429-TooManyRequests:
      description: Too Many Requests
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            message: You exceeded your rate-limit of 60 requests / minute
    500-InternalServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    Address:
      type: object
      properties:
        country:
          type: string
          description: ISO 3166-1 alpha-2 code (for instance "PL" for Poland)
          example: PL
        zip_code:
          type: string
          description: postal code in which the company is located
        city:
          type: string
          description: city in which the company is located
        address_lines:
          type: array
          description: address of the company
          items:
            type: string
        telephone:
          type: string
          description: telephone number of the company
    AvailableCompanyIdentifiers:
      type: object
      properties:
        company_id:
          type: boolean
          description: the unique identifier of the company
        icon_number:
          type: boolean
          description: the ICON number of the company
        easy_number:
          type: boolean
          description: the EASY number of the company
        national_identifier_types:
          type: array
          description: the types of national identifiers available
          items:
            $ref: '#/components/schemas/NationalIdentifierType'
    AvailableCountry:
      type: object
      properties:
        iso_code:
          type: string
          description: ISO 3166-1 alpha-2 code (for instance "PL" for Poland)
          example: PL
        name:
          type: string
          description: name of the country (for instance "Poland")
          example: Poland
        offline_orders:
          type: boolean
          description: offline orders can be placed for companies in this country.
            An offline order is an order for a company which will be researched if
            an up-to-date report is not available.
        online_orders:
          type: boolean
          description: online orders can be placed for companies in this country.
            An online order is an order where a report is available immediately.
    Change:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/MonitoredParameterType'
        type2:
          type: string
          description: Depending on the type, describes the change further.
        type3:
          type: array
          items:
            type: string
            description: Depending on the type and type2 describes the change further
    CodedValue:
      type: object
      properties:
        code_value:
          type: string
          description: a numeric or alphanumeric code value.
          example: "200"
        code_name:
          type: string
          description: name of the code table to which this code belongs.
          example: CC8800
        text:
          type: string
          description: text associated with this code.
          example: CREDIT REPORT
        language:
          type: string
          description: The language of the text
    CodeTable:
      type: object
      properties:
        code_name:
          type: string
          description: code table name.
          example: CC8800
        description:
          type: string
          description: description of the code table.
          example: Products
    Company:
      type: object
      properties:
        company_id:
          type: string
          description: unique identifier of the company
          example: string
        icon_number:
          type: integer
          description: system-specific identifier of the company
        easy_number:
          type: string
          description: EASY number of the company
        company_name:
          type: string
          description: name of the company
        registration_country:
          type: string
          description: ISO 3166-1 alpha-2 country code (for instance "PL" for Poland)
        address:
          $ref: '#/components/schemas/Address'
        national_identifiers:
          type: array
          description: national identifiers of the company (e.g VAT ID)
          items:
            $ref: '#/components/schemas/NationalIdentifier'
        activities:
          type: array
          description: the activities which the company conducts
          items:
            $ref: '#/components/schemas/Nace'
        legalform:
          $ref: '#/components/schemas/Legalform'
        as_of_date:
          type: string
          description: the validity date of the company information
          format: date-time
        date_of_last_balance_sheet:
          type: string
          description: the date of the last balance sheet
          format: date-time
    CompanyDetails:
      type: object
      properties:
        company:
          $ref: '#/components/schemas/Company'
        creditreport_products:
          type: array
          description: available products for this company
          items:
            $ref: '#/components/schemas/CreditReportProduct'
        monitoring_products:
          type: array
          description: available products for this company
          items:
            $ref: '#/components/schemas/MonitoringProduct'
    CompanySearchResult:
      type: object
      properties:
        company_id:
          type: string
          description: the unique identifier of the company
        company_name:
          type: string
          description: the name of the company
        registration_country:
          type: string
          description: ISO 3166-1 alpha-2 country code (for instance "PL" for Poland)
        icon_number:
          type: integer
          description: a system company identifier
        easy_number:
          type: string
          description: EASY number of the company
        address:
          $ref: '#/components/schemas/Address'
        national_identifiers:
          type: array
          description: national identifiers for the company (VAT ID etc)
          items:
            $ref: '#/components/schemas/NationalIdentifier'
    CompanyUnidentified:
      required:
        - registration_country
      type: object
      properties:
        name:
          type: string
          description: name of the company
          example: Smith Sheet Metal Inc.
        registration_country:
          type: string
          description: ISO 3166-1 alpha-2 code
          example: PL
        national_identifiers:
          type: array
          description: a list of national identifiers for the company (e.g. VAT ID)
          items:
            $ref: '#/components/schemas/NationalIdentifier'
        city:
          type: string
          description: city where the company is located
        zip_code:
          type: string
          description: postal code of company address
        address_lines:
          type: array
          description: company address
          items:
            type: string
      description: Fill this out if you have not yet uniquely identified the company
        (using findCompany or identifyCompany)
    CreditReportProduct:
      type: object
      properties:
        product_code:
          type: string
          description: product code (a value from code table CC8800)
        name:
          type: string
          description: name of the product
        availability:
          type: string
          enum:
            - available_on_order
            - available_immediately
        format:
          type: array
          items:
            type: string
            enum:
              - html
              - pdf
              - xml
              - txt
              - json
        countries:
          type: string
          description: list of iso country codes for which this product is available
    ErrorResponse:
      required:
        - message
      type: object
      properties:
        code:
          type: integer
          description: numeric error code (http status 4xx-5xx).
          example: 500
        message:
          type: string
          description: textual error message.
    Legalform:
      type: object
      properties:
        code:
          type: string
          description: A coded value of type CC0040, for a list of all available legal
            forms see /codedvalues/CC0040
          example: "300"
        text:
          type: string
          example: Limited liability company
    MonitoredParameterType:
      type: object
      properties:
        code:
          type: string
          description: A coded value of type CC8821, for a list of all available legal
            forms see /codedvalues/CC8821
          example: "300"
        text:
          type: string
          example: Financial Information
    MonitoringProduct:
      type: object
      properties:
        product_code:
          type: string
          description: product code (a value from code table CC8800)
        name:
          type: string
          description: name of the product
        availability:
          type: string
          enum:
            - can_be_monitored
            - requires_a_research
        format:
          type: array
          items:
            type: string
            enum:
              - html
              - pdf
              - xml
              - txt
              - json
        countries:
          type: string
          description: list of iso country codes for which this product is available
    Nace:
      type: object
      properties:
        code:
          type: string
          description: A NACE Rev2 code
          example: "72"
        text:
          type: string
          example: Growing of non-perennial crops
    NationalIdentifier:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/NationalIdentifierType'
        value:
          type: string
          description: the national identifier
          example: R12312323
    NationalIdentifierType:
      type: object
      properties:
        code:
          type: integer
          description: the national identifier
          example: 120
        name:
          type: string
          description: the national identifier
          example: VAT Number
    Notification:
      type: object
      properties:
        id:
          type: integer
          description: the unique id of the notification (which can be used to retrieve
            the documents associated with the notification).
          example: 1029390
        order_id:
          type: string
          description: the monitoring order's id to which the notification belongs
            to
          example: 62a50848-e9de-45bd-9e07-b2b1d8cc7cb0
        timestamp:
          type: string
          description: the time at which the notification was created.
          format: date-time
        company:
          $ref: '#/components/schemas/Company'
        changes:
          type: array
          description: For details see https://github.com/coface/business-information-api/wiki/Monitoring-Notifications
          items:
            $ref: '#/components/schemas/Change'
    OrderDetails:
      type: object
      properties:
        coface_reference:
          type: string
        customer_reference:
          type: string
          description: unique id of the company
        order_type:
          type: string
          enum:
            - credit_report
            - monitoring
        product_code:
          type: string
          description: product code (a value from code table CC8800)
        company_id:
          type: string
        ordered:
          type: string
          description: date and time when the order was placed
          format: date-time
        requested_delivery:
          type: string
          description: date and time when delivery was requested
          format: date-time
        delivered:
          type: string
          description: date and time when order was delivered
          format: date-time
        your_question:
          type: string
          description: the question asked when the order was placed.
        our_answer:
          type: string
          description: the answer provided by the researcher.
        negative_reason:
          type: string
          description: If the order could not be fulfilled, this is the reason.
        negative_comment:
          type: string
          description: If the order could not be fulfilled, this is the comment from
            the researcher.
    OrderStatus:
      type: object
      properties:
        id:
          type: string
          description: the unique id of the order
          example: b84b4972-5567-40f8-be93-cb049f9d3c76
        order_status:
          type: string
          enum:
            - in_preparation
            - open
            - cancelled
            - finished
            - monitoring_inactive
            - monitoring_active
        status_text:
          type: string
        order_details:
          $ref: '#/components/schemas/OrderDetails'
        report_documents:
          type: array
          items:
            $ref: '#/components/schemas/ReportDocument'
    ProductDetails:
      required:
        - format
        - language
        - product_code
      type: object
      properties:
        product_code:
          type: string
          description: product code (a value from code table CC8800)
          format: integer
        language:
          type: string
          description: ISO ISO 639-1 language code (for instance "en")
        format:
          type: string
          description: file format (�txt� and �html� formats are not available for
            Debtor Risk Assesment(DRA), Credit Opinion(CO) and Coface Advanced Opinion(CAO)
            reports)
          enum:
            - html
            - pdf
            - xml
            - txt
            - json
    RequestedCreditReportDetails:
      type: object
      properties:
        research_instructions:
          type: string
          default: immediate_if_available_research_otherwise
          enum:
            - immediate_no_research
            - immediate_if_available_research_otherwise
            - research_no_immediate
        research_callback_url:
          type: string
          description: a URL which ICON will call when the order is ready
          format: uri
          example: https://mycompany.com/credit-report-orders/order-complete?our_ref=AB788823
        research_delivery_speed:
          type: string
          default: normal
          enum:
            - normal
            - express
            - flash
        max_credit_amount:
          type: integer
          description: the maxiumum credit to be granted to the company
          format: int64
        max_credit_currency:
          type: string
          description: the currency of the maxiumum credit
        requested_amount:
          type: string
          description: the currency of the maxiumum credit
        report_currency:
          type: string
          description: Applicable only for Credit Opinion and Coface Adanced Opinion
            products to specify the currency in which the coverage will be expressed.
            For all other products this parameter should not be specified
          default: ""
          enum:
            - ""
            - USD
            - EUR
            - GBP
        question:
          type: string
          description: if you want a researcher to answer one or more specific questions
            about the company, include them here
          example: Is this company actually doing business at the registered address?
    RequestedMonitoringDetails:
      type: object
      properties:
        start_date:
          type: string
          description: The date when monitoring should start. If omitted, today's
            date is assumed.
          format: date-time
        duration_months:
          type: integer
          description: the number of months to monitor the company
        notification_callback_url:
          type: string
          description: When a change notification is created, this URL will be called
    RequestedMonitoringOrderDetails:
      required:
        - company_id
        - product_details
      type: object
      properties:
        company_id:
          type: string
          description: unique id of the company
        customer_reference:
          type: string
          description: your own identifier for the order which was given when you
            placed the order
        product_details:
          $ref: '#/components/schemas/ProductDetails'
        monitoring_details:
          $ref: '#/components/schemas/RequestedMonitoringDetails'
    RequestedOrderDetails:
      required:
        - product_details
      type: object
      properties:
        customer_reference:
          type: string
          description: your own identifier for the order which was given when you
            placed the order
        company_id:
          type: string
          description: unique id of the company
        company_unidentified:
          $ref: '#/components/schemas/CompanyUnidentified'
        product_details:
          $ref: '#/components/schemas/ProductDetails'
        credit_report_details:
          $ref: '#/components/schemas/RequestedCreditReportDetails'
    ReportDocument:
      type: object
      properties:
        file_name:
          type: string
          description: Document file name.
        mime_type:
          type: string
          description: Mime-type of the document.
    ServerStatus:
      type: object
      properties:
        status:
          type: string
          description: Description of the server status.
    UpdatedOrder:
      type: object
      properties:
        customer_reference:
          type: string
          description: the reference provided by the customer when the order was placed.
          example: 'OUR TRACKING NUMBER #34234'
        contact_name:
          type: string
          description: an optional contact name to identify the person updating the
            order.
          example: Tom Smith
        contact_email:
          type: string
          description: an optional contact email address for the person updating the
            order.
          example: tom@smith.com
        contact_telephone:
          type: string
          description: an optional telephone number for the person updating the order.
          example: +43-1-62552-410
        contact_fax:
          type: string
          description: an optional fax number for the person updating the order.
          example: +43-1-62552-444
        comment:
          type: string
          description: a comment to the order (for instance "please ensure that you
            include all directors of this company").
          example: Please ensure that you include all directors of this company
    UpdatedStatus:
      type: object
      properties:
        action:
          type: string
          description: the action which you request on the order
          example: cancel
          enum:
            - stop_monitoring
            - undo_stop_monitoring
            - cancel
        cancel_reason:
          type: string
          description: Required when the order is requested to be cancelled.
          example: Order placed by mistake, please cancel.
paths:
  /ping:
    get:
      tags:
        - Misc
      description: Returns the server status - you can use it as a health check to ensure that the REST endpoint is active.
      operationId: ping
      responses:
        '200':
          description: Success
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Request limit per hour.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of requests left for the time window.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerStatus'
        '401':
          $ref: '#/components/responses/401-Unauthorized'
        '403':
          $ref: '#/components/responses/403-Forbidden'
  /countries:
    get:
      tags:
        - Countries
      description: List the countries in which you can order reports on companies.
      operationId: getCountries
      responses:
        '200':
          description: Array of countries
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Request limit per hour.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of requests left for the time window.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AvailableCountry'
        '401':
          $ref: '#/components/responses/401-Unauthorized'
        '403':
          $ref: '#/components/responses/403-Forbidden'
        '429':
          $ref: '#/components/responses/429-TooManyRequests'
  /country/{country_iso_code}/identifiers:
    get:
      tags:
        - Countries
      description: Lists the available identifiers for the country (some company identifiers
        are country-specific).
      operationId: getIdentifiers
      parameters:
        - name: country_iso_code
          in: path
          description: ISO 3166-1 alpha-2 code (for instance "PL" for Poland)
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: Array of countries identifiers
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Request limit per hour.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of requests left for the time window.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableCompanyIdentifiers'
        '401':
          $ref: '#/components/responses/401-Unauthorized'
        '403':
          $ref: '#/components/responses/403-Forbidden'
        '404':
          $ref: '#/components/responses/404-NotFound'
        '429':
          $ref: '#/components/responses/429-TooManyRequests'
  /companies:
    get:
      tags:
        - Company Identification
      description: |
        Search for companies using name or other identifiers.

        Tips for searching:
        * If you have a unique identifier for the company (i.e. you want exactly one result), use identifyCompany instead.
        * You don't need to include the legal form in the name (e.g. if the company is called PRINT Solutions Ltd, just search for PRINT Solutions).

        Allowed combinations:
        * full_text_query
        * full_text_query with country_iso_code
        * company_name and/or zip_code and/or city together with country_iso_code
      operationId: findCompany
      parameters:
        - name: full_text_query
          in: query
          description: A flexible free-text search query (as you would use in a search
            engine). Company names, addresses and company identifieres are searched.
            Results are ordered by relevance
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: country_iso_code
          in: query
          description: country where the company is registered (ISO 3166-1 alpha-2 code)
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: company_name
          in: query
          description: name (or partial name) of the company
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: company_name_phonetic
          in: query
          description: If set to true, the company name will be searched using a phonetic
            algorithm
          required: false
          style: form
          explode: true
          schema:
            type: boolean
            default: false
        - name: zip_code
          in: query
          description: the postal code of the company
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: city
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: city_phonetic
          in: query
          description: If set to true, the city will be searched using a phonetic algorithm
          required: false
          style: form
          explode: true
          schema:
            type: boolean
            default: true
        - name: offset
          in: query
          description: starting point within paged results (the X-Total-Count header
            of the response indicates the total number of results found)
          required: false
          style: form
          explode: true
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: number of results to fetch starting from offset (the X-Total-Count
            header of the response indicates the total number of results found)
          required: false
          style: form
          explode: true
          schema:
            maximum: 100
            minimum: 1
            type: integer
            default: 20
      responses:
        '200':
          description: Success
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Request limit per hour.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of requests left for the time window.
            X-Toutal-Count-${countryCode}:
              description: Number of companies in a specific country
              style: simple
              explode: false
              schema:
                type: string
            X-Total-Count:
              description: total count of search results
              style: simple
              explode: false
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanySearchResult'
        '400':
          $ref: '#/components/responses/400-BadRequest'
        '401':
          $ref: '#/components/responses/401-Unauthorized'
        '403':
          $ref: '#/components/responses/403-Forbidden'
        '429':
          $ref: '#/components/responses/429-TooManyRequests'
  /companies/demo:
    get:
      tags:
        - Company Identification
      description: Lists the available demo companies
      operationId: getDemoCompanies
      responses:
        '200':
          description: Success
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Request limit per hour.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of requests left for the time window.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Company'
        '401':
          $ref: '#/components/responses/401-Unauthorized'
        '403':
          $ref: '#/components/responses/403-Forbidden'
        '429':
          $ref: '#/components/responses/429-TooManyRequests'
  /company:
    get:
      tags:
        - Company Identification
      description: |
        Find a company using a unique identifier (returns exactly 1 or 0 results).

        Tips for finding a company:
        * If you are searching using national identifiers, provide the country (via the country_iso_code)
        * You don't need to include the legal form in the name (e.g. if the company is called PRINT Solutions Ltd, just search for PRINT Solutions).
      operationId: identifyCompany
      parameters:
        - name: country_iso_code
          in: query
          description: country to search in (ISO 3166-1 alpha-2 code)
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: company_id
          in: query
          description: unique id of the company
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: icon_number
          in: query
          description: ICON number of the company
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - name: easy_number
          in: query
          description: EASY number of the company
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: identifier_type
          in: query
          description: the type of the national identifier to search for (use getIdentifiers
            to find out which identifiers are available per country)
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - name: identifier_value
          in: query
          description: the national identifier to search for
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: show_available_creditreport_products
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: boolean
            default: false
        - name: show_available_monitoring_products
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Success
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Request limit per hour.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of requests left for the time window.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyDetails'
        '400':
          $ref: '#/components/responses/400-BadRequest'
        '401':
          $ref: '#/components/responses/401-Unauthorized'
        '403':
          $ref: '#/components/responses/403-Forbidden'
        '429':
          $ref: '#/components/responses/429-TooManyRequests'
  /orders/creditreport:
    post:
      tags:
        - Order
      description: |
        Order a Business Report, a Score report (DRA: Debtor Risk Assessment), a Credit Opinion (CO) report and a Coface Advanced Opinion (CAO) report using the corresponding product codes from CC8800 table.

        You will need to specify at least:
        * the company to order (either with the company_id if the company has already been uniquely identified or with company_unidentified).
        * the product to order (product_details).
          * product_code: 200 for a standard credit report (values from code table CC8800).
          * language: the language of the report (e.g en for english).
          * format: xml, json, pdf, html or txt.
        * if you're using the demo API key, restrict your order to the company_id of a demo company.
      operationId: placeOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestedOrderDetails'
        required: true
      responses:
        "202":
          description: Success
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Request limit per hour.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of requests left for the time window.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderStatus'
        '400':
          $ref: '#/components/responses/400-BadRequest'
        '401':
          $ref: '#/components/responses/401-Unauthorized'
        '403':
          $ref: '#/components/responses/403-Forbidden'
        '429':
          $ref: '#/components/responses/429-TooManyRequests'
  /orders/monitoring:
    post:
      tags:
        - Order
      description: |
        Monitor a company to receive notifications when updated company data becomes available.

        You will need to specify at least:
        * the company to monitor (company_id)
        * the monitoring product to order (product_details).
          * product_code: 9002 for the standard CCE Risk monitor (values from code table CC8800).
          * language: the language of notification (e.g en for english).
          * format: xml, json, pdf, html or txt.
        * if you're using the demo API key, you cannot place a new monitoring order (you can check for notitifcations though)
      operationId: placeMonitoringOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestedMonitoringOrderDetails'
        required: true
      responses:
        "202":
          description: Success
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Request limit per hour.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of requests left for the time window.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderStatus'
        '400':
          $ref: '#/components/responses/400-BadRequest'
        '401':
          $ref: '#/components/responses/401-Unauthorized'
        '403':
          $ref: '#/components/responses/403-Forbidden'
        '429':
          $ref: '#/components/responses/429-TooManyRequests'
  /orders:
    get:
      tags:
        - Order
      description: Find an order in your order history.
      operationId: getOrders
      parameters:
        - name: order_id
          in: query
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: customer_reference
          in: query
          description: your own identifier for the order which you provided when you
            placed the order
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: coface_order_reference
          in: query
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: order_type
          in: query
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - credit_report
                - monitoring
        - name: product_code
          in: query
          description: product code (a value from code table CC8800)
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: ordered_from
          in: query
          description: the earliest order date for which to get orders
          required: false
          style: form
          explode: true
          schema:
            type: string
            format: date-time
        - name: ordered_to
          in: query
          description: the latest order date for which to get orders
          required: false
          style: form
          explode: true
          schema:
            type: string
            format: date-time
        - name: delivered_from
          in: query
          description: the earliest delivery date for which to get orders
          required: false
          style: form
          explode: true
          schema:
            type: string
            format: date-time
        - name: delivered_to
          in: query
          description: the latest delivery date for which to get orders
          required: false
          style: form
          explode: true
          schema:
            type: string
            format: date-time
        - name: offset
          in: query
          description: starting point within paged results (the X-Total-Count header
            of the response indicates the total number of results found)
          required: false
          style: form
          explode: true
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: number of results to fetch starting from offset (the X-Total-Count
            header of the response indicates the total number of results found)
          required: false
          style: form
          explode: true
          schema:
            maximum: 100
            minimum: 1
            type: integer
            default: 20
      responses:
        '200':
          description: Success
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Request limit per hour.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of requests left for the time window.
            X-Total-Count:
              description: total count of search results
              style: simple
              explode: false
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrderStatus'
        '400':
          $ref: '#/components/responses/400-BadRequest'
        '401':
          $ref: '#/components/responses/401-Unauthorized'
        '403':
          $ref: '#/components/responses/403-Forbidden'
        '429':
          $ref: '#/components/responses/429-TooManyRequests'
  /order/{id}:
    get:
      tags:
        - Order
      description: Retrieve the details of an order.
      operationId: getOrder
      parameters:
        - name: id
          in: path
          description: the unique id of the order (returned from placeOrder)
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: Success
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Request limit per hour.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of requests left for the time window.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderStatus'
        '400':
          $ref: '#/components/responses/400-BadRequest'
        '401':
          $ref: '#/components/responses/401-Unauthorized'
        '403':
          $ref: '#/components/responses/403-Forbidden'
        '404':
          $ref: '#/components/responses/404-NotFound'
        '429':
          $ref: '#/components/responses/429-TooManyRequests'
  /order/{id}/comment:
    put:
      tags:
        - Order
      description: Submit a comment to an order.
      operationId: submitComment
      parameters:
        - name: id
          in: path
          description: the unique id of the order (returned from placeOrder) to which
            the comment should be submitted.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatedOrder'
        required: true
      responses:
        '204':
          description: Success
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Request limit per hour.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of requests left for the time window.
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/400-BadRequest'
        '401':
          $ref: '#/components/responses/401-Unauthorized'
        '403':
          $ref: '#/components/responses/403-Forbidden'
        '404':
          $ref: '#/components/responses/404-NotFound'
        '429':
          $ref: '#/components/responses/429-TooManyRequests'
  /order/{id}/status:
    put:
      tags:
        - Order
      description: Request an update to the status of a previously submitted order.
      operationId: updateStatus
      parameters:
        - name: id
          in: path
          description: the unique id of the order (returned from placeOrder).
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatedStatus'
        required: true
      responses:
        '204':
          description: Success
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Request limit per hour.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of requests left for the time window.
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/400-BadRequest'
        '401':
          $ref: '#/components/responses/401-Unauthorized'
        '403':
          $ref: '#/components/responses/403-Forbidden'
        '404':
          $ref: '#/components/responses/404-NotFound'
        '429':
          $ref: '#/components/responses/429-TooManyRequests'
  /order/{id}/documents:
    get:
      tags:
        - Order
      description: Lists the documents (e.g. reports) associated with an order.
      operationId: getOrderDocumentList
      parameters:
        - name: id
          in: path
          description: the unique id of the order (returned from placeOrder) to which
            the comment should be submitted.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: Success
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Request limit per hour.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of requests left for the time window.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReportDocument'
        '400':
          $ref: '#/components/responses/400-BadRequest'
        '401':
          $ref: '#/components/responses/401-Unauthorized'
        '403':
          $ref: '#/components/responses/403-Forbidden'
        '404':
          $ref: '#/components/responses/404-NotFound'
        '429':
          $ref: '#/components/responses/429-TooManyRequests'
  /order/{id}/document/{file_name}:
    get:
      tags:
        - Order
      description: Retrieve a document (e.g. a report) associated with a finished
        order. The document may take some time to be created, so you need to check
        that the order status is "finished" before you retrieve the document (see
        GET '/order/{id}/status' above). You can see an example of this workflow at
        https://github.com/coface/business-information-api/blob/master/report-api/v1/sample/python/complete-workflows/search-order-download.py
      operationId: getOrderDocument
      parameters:
        - name: id
          in: path
          description: the unique id of the order (returned from placeOrder) to which
            the comment should be submitted.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: file_name
          in: path
          description: the file name if the document (as returned from getOrderDocumentList).
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: Success
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Request limit per hour.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of requests left for the time window.
          content:
            text/xml:
              schema:
                type: string
                format: binary
            text/html:
              schema:
                type: string
                format: binary
            text/plain:
              schema:
                type: string
                format: binary
            application/pdf:
              schema:
                type: string
                format: binary
            application/vnd.ms-excel:
              schema:
                type: string
                format: binary
            text/csv:
              schema:
                type: string
                format: binary
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
            application/vnd.openxmlformats-officedocument.wordprocessingml.document:
              schema:
                type: string
                format: binary
            application/msword:
              schema:
                type: string
                format: binary
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/400-BadRequest'
        '401':
          $ref: '#/components/responses/401-Unauthorized'
        '403':
          $ref: '#/components/responses/403-Forbidden'
        '404':
          $ref: '#/components/responses/404-NotFound'
        '429':
          $ref: '#/components/responses/429-TooManyRequests'
  /notifications:
    get:
      tags:
        - Notifications
      description: Get a list of available monitoring notifications.
      operationId: getNotifications
      parameters:
        - name: notification_timestamp_from
          in: query
          description: Lower limit (inclusive) for the date of retrieved notifications
          required: false
          style: form
          explode: true
          schema:
            type: string
            format: date-time
        - name: notification_timestamp_to
          in: query
          description: Upper limit (inclusive) for the date of retrieved notifications
          required: false
          style: form
          explode: true
          schema:
            type: string
            format: date-time
        - name: offset
          in: query
          description: starting point within paged results (the X-Total-Count header
            of the response indicates the total number of results found)
          required: false
          style: form
          explode: true
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: number of results to fetch starting from offset (the X-Total-Count
            header of the response indicates the total number of results found)
          required: false
          style: form
          explode: true
          schema:
            maximum: 100
            minimum: 1
            type: integer
            default: 20
      responses:
        '200':
          description: Success
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Request limit per hour.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of requests left for the time window.
            X-Total-Count:
              description: total count of search results
              style: simple
              explode: false
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Notification'
        '400':
          $ref: '#/components/responses/400-BadRequest'
        '401':
          $ref: '#/components/responses/401-Unauthorized'
        '403':
          $ref: '#/components/responses/403-Forbidden'
        '429':
          $ref: '#/components/responses/429-TooManyRequests'
  /notification/{id}:
    get:
      tags:
        - Notifications
      description: Retrieves a monitoring notification (the main notification content).
        If the notification might include multiple documents then use the method /notification/{id}/documents
        to retrieve all documents.
      operationId: getNotificationDocument
      parameters:
        - name: id
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: integer
      responses:
        '200':
          description: Success
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Request limit per hour.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of requests left for the time window.
          content:
            text/xml:
              schema:
                type: string
                format: binary
            text/html:
              schema:
                type: string
                format: binary
            text/plain:
              schema:
                type: string
                format: binary
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/400-BadRequest'
        '401':
          $ref: '#/components/responses/401-Unauthorized'
        '403':
          $ref: '#/components/responses/403-Forbidden'
        '404':
          $ref: '#/components/responses/404-NotFound'
        '429':
          $ref: '#/components/responses/429-TooManyRequests'
  /notification/{id}/documents:
    get:
      tags:
        - Notifications
      description: Lists the documents (e.g. the main notification content and possible
        notification attachments or the notification content in a different format)
        associated with a notification.
      operationId: getNotificationDocumentsList
      parameters:
        - name: id
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: integer
      responses:
        '200':
          description: Success
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Request limit per hour.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of requests left for the time window.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReportDocument'
        '400':
          $ref: '#/components/responses/400-BadRequest'
        '401':
          $ref: '#/components/responses/401-Unauthorized'
        '403':
          $ref: '#/components/responses/403-Forbidden'
        '404':
          $ref: '#/components/responses/404-NotFound'
        '429':
          $ref: '#/components/responses/429-TooManyRequests'
  /notification/{id}/document/{file_name}:
    get:
      tags:
        - Notifications
      description: Retrieve a document (e.g. the main notification or a notification
        attachment) associated with a notification.
      operationId: getSpecificNotificationDocument
      parameters:
        - name: id
          in: path
          description: the unique id of the notification
          required: true
          style: simple
          explode: false
          schema:
            type: integer
        - name: file_name
          in: path
          description: the file name if the document (as returned from getNotificationDocumentList).
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: Success
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Request limit per hour.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of requests left for the time window.
          content:
            text/xml:
              schema:
                type: string
                format: binary
            text/html:
              schema:
                type: string
                format: binary
            text/plain:
              schema:
                type: string
                format: binary
            application/pdf:
              schema:
                type: string
                format: binary
            application/vnd.ms-excel:
              schema:
                type: string
                format: binary
            text/csv:
              schema:
                type: string
                format: binary
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
            application/vnd.openxmlformats-officedocument.wordprocessingml.document:
              schema:
                type: string
                format: binary
            application/msword:
              schema:
                type: string
                format: binary
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/401-Unauthorized'
        '403':
          $ref: '#/components/responses/403-Forbidden'
        '404':
          $ref: '#/components/responses/404-NotFound'
        '429':
          $ref: '#/components/responses/429-TooManyRequests'
  /codedvalues:
    get:
      tags:
        - Misc
      description: Retrieves the list of possible code names (i.e. legal forms, activities
        etc.)
      operationId: getCodetables
      responses:
        '200':
          description: Success
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Request limit per hour.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of requests left for the time window.
            X-Total-Count:
              description: total count of search results
              style: simple
              explode: false
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CodeTable'
        '401':
          $ref: '#/components/responses/401-Unauthorized'
        '403':
          $ref: '#/components/responses/403-Forbidden'
        '429':
          $ref: '#/components/responses/429-TooManyRequests'
  /codedvalues/{code_name}:
    get:
      tags:
        - Misc
      description: Retrieves the list of possible code values (i.e. legal forms, activities
        etc.)
      operationId: getCodetableValues
      parameters:
        - name: code_name
          in: path
          description: the code table name (e.g. CC0040 for legal forms)
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: Success
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Request limit per hour.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of requests left for the time window.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CodedValue'
        '401':
          $ref: '#/components/responses/401-Unauthorized'
        '403':
          $ref: '#/components/responses/403-Forbidden'
        '404':
          $ref: '#/components/responses/404-NotFound'
        '429':
          $ref: '#/components/responses/429-TooManyRequests'